<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="static/js/jquery-3.6.1.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$.ajax({
			url : 'emp_selects',
			type : 'get',                                 
			dataType : 'json',
			contentType : "application/json",
			success : function(data){
				let emps = data;
				
				let txt = "";
				
				for(let i=0; i<emps.length; i++){
					let emp = emps[i];
					txt += `
					<tr>
				        <td><a href="javascript:fn_one('${emp.e_id}')">${emp.e_id}</a></td>
				        <td>${emp.e_name}</td>
				        <td>${emp.sex}</td>
				        <td>${emp.addr}</td>
					</tr>
					
					`;
				}
				$("#mytbody").html(txt);
			},
			error : function(xtr,status,error){
			        alert(xtr +":"+status+":"+error);
			}
		});
		$("input[value=추가]").on("click",fn_insert);
		$("input[value=수정]").on("click",fn_update);
		$("input[value=삭제]").on("click",fn_delete);
	});
	
	function fn_list(){
		$.ajax({
			url : 'emp_selects',
			type : 'get',                                 
			dataType : 'json',
			contentType : "application/json",
			success : function(data){
				let emps = data;
				
				let txt = "";
				
				for(let i=0; i<emps.length; i++){
					let emp = emps[i];
					txt += `
					<tr>
				        <td><a href="javascript:fn_one('${emp.e_id}')">${emp.e_id}</a></td>
				        <td>${emp.e_name}</td>
				        <td>${emp.sex}</td>
				        <td>${emp.addr}</td>
					</tr>
					
					`;
				}
				$("#mytbody").html(txt);
			},
			error : function(xtr,status,error){
			        alert(xtr +":"+status+":"+error);
			}
		});
	}
	
	function fn_one(e_id){
		let params = JSON.stringify({
			"e_id" : e_id
		})
		$.ajax({
			url : 'emp_select',
			type : 'post',
			data : params,
			dataType : 'json',
			contentType : "application/json",
			success : function(data){
				console.log(data.e_id);
				$("#e_id").val(data.e_id);
				$("#e_name").val(data.e_name);
				$("#sex").val(data.sex);
				$("#addr").val(data.addr);
			},
			error : function(xtr,status,error){
			        alert(xtr +":"+status+":"+error);
			}
		});
	}

	function fn_insert(){
		let params = JSON.stringify({
			"e_id" : $("#e_id").val(),
			"e_name" : $("#e_name").val(),
			"sex" : $("#sex").val(),
			"addr" : $("#addr").val()
		})
		$.ajax({
			url : 'emp_insert',
			type : 'post',
			data : params,
			dataType : 'json',
			contentType : "application/json",
			success : function(data){
				console.log(data);
				if(data == 1){
					fn_list();
					$("#e_id").val("");
					$("#e_name").val("");
					$("#sex").val("");
					$("#addr").val("");
				}else {
					alert("추가 도중 오류가 발생했습니다.");
				}
				
			},
			error : function(xtr,status,error){
			        alert(xtr +":"+status+":"+error);
			}
		});
	}

	function fn_update(){
		let params = JSON.stringify({
			"e_id" : $("#e_id").val(),
			"e_name" : $("#e_name").val(),
			"sex" : $("#sex").val(),
			"addr" : $("#addr").val()
		})
		$.ajax({
			url : 'emp_update',
			type : 'post',
			data : params,
			dataType : 'json',
			contentType : "application/json",
			success : function(data){
				console.log(data);
				if(data == 1){
					fn_list();
					$("#e_id").val("");
					$("#e_name").val("");
					$("#sex").val("");
					$("#addr").val("");
				}else {
					alert("수정 도중 오류가 발생했습니다.");
				}
				
			},
			error : function(xtr,status,error){
			        alert(xtr +":"+status+":"+error);
			}
		});
	}

	function fn_delete(){
		let params = JSON.stringify({
			"e_id" : $("#e_id").val()
		})
		$.ajax({
			url : 'emp_delete',
			type : 'post',
			data : params,
			dataType : 'json',
			contentType : "application/json",
			success : function(data){
				console.log(data);
				if(data == 1){
					fn_list();
					$("#e_id").val("");
					$("#e_name").val("");
					$("#sex").val("");
					$("#addr").val("");
				}else {
					alert("삭제 도중 오류가 발생했습니다.");
				}
				
			},
			error : function(xtr,status,error){
			        alert(xtr +":"+status+":"+error);
			}
		});
	}
</script>
</head>
<body>
EMP
<table border= 1px>
	<thead>
		<tr>
	        <td>사번</td>
	        <td>이름</td>
	        <td>성별</td>
	        <td>주소</td>
		</tr>
	</thead>
	<tbody id="mytbody">
		<tr>
	        <td>1</td>
	        <td>1</td>
	        <td>1</td>
	        <td>1</td>
		</tr>
	</tbody>
</table>

<table border="1px">
	<tr>
		<td>사번</td>
		<td>
			<input type="text" id="e_id">
		</td>
	</tr>
	<tr>
		<td>이름</td>
		<td>
			<input type="text" id="e_name">
		</td>
	</tr>
	<tr>
		<td>성별</td>
		<td>
			<input type="text" id="sex">
		</td>
	</tr>
	<tr>
		<td>주소</td>
		<td>
			<input type="text" id="addr">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="추가">
			<input type="button" value="수정">
			<input type="button" value="삭제">
		</td>
	</tr>
</table>

</body>
</html>