<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chat</title>
<style type="text/css">
	.can{
		width: 170px;
		height: 170px;
	}
</style>
<script>
	let flag_ing = false;
	let step = 0;
	
	let s1i = -1;
	let s1j = -1;
	let s1v = -1;
	let s2i = -1;
	let s2j = -1;
	let s2v = -1;
	
	let img2D = [
			[1,1,2,2]
		,	[3,3,4,4]
		,	[5,5,6,6]
		,	[7,7,8,8]
	];
	
	let cvr2D = [
			[0,0,0,0]
		,	[0,0,0,0]
		,	[0,0,0,0]
		,	[0,0,0,0]
	];
	
	let dsp2D = [
			[0,0,0,0]
		,	[0,0,0,0]
		,	[0,0,0,0]
		,	[0,0,0,0]
	];
	
	function shuffle(){
		for(let i = 0; i<1000; i++){
			let f = Math.floor(Math.random()*img2D.length);
			let l = Math.floor(Math.random()*img2D.length);
			let a = img2D[0][0];
			let b = img2D[f][l];
			img2D[0][0] = b;
			img2D[f][l] = a;
		}
		
		for(let i=0; i<img2D.length; i++){
			for(let j=0; j<img2D[i].length; j++){
				if(cvr2D[i][j] == 0){
					// $("img").eq(i*4+j).attr("src","static/img/0.png");
					let img = document.querySelectorAll("img");
					img[i*4+j].src = "static/img/0.png";
				}else {
					// $("img").eq(i*4+j).attr("src","static/img/"+img2D[i][j]+".png");
					let img = document.querySelectorAll("img");
					img[i*4+j].src = "static/img/"+img2D[i][j]+".png";
				}
			}
		}
	}
	
	function myInit(){
		// shuffle();
		patchIjEvent();
	}


	function setDsp2D(){
		for(let i=0; i<cvr2D.length; i++){
			for(let j=0; j<cvr2D[i].length; j++){
				if(cvr2D[i][j] == 1){
					dsp2D[i][j] = img2D[i][j];
				}else{
					dsp2D[i][j] = 0;
				}
			}
		}
		if(step == 0){
			dsp2D[s1i][s1j] = s1v;
		}
		if(step == 1){
			dsp2D[s1i][s1j] = s1v;
			dsp2D[s2i][s2j] = s2v;
		}
		if(s1v == s2v){
			dsp2D[s1i][s1j] = s1v;
			dsp2D[s2i][s2j] = s2v;
		}
	}
	
	function myClick(e){
		if(!flag_ing){
			return;
		}
		if(step == 2){
			return;
		}
		console.log(e.target.alt);
		let alt = e.target.alt;
		let spl = alt.split(",");
		// console.log(spl[0]);
		// console.log(spl[1]);
		let i = parseInt(spl[0]);
		let j = parseInt(spl[1]);
		if(step == 0){
			s1i = i;
			s1j = j;
			s1v = img2D[i][j];
		}
		if(step == 1){
			if(s1i == i && s1j == j){
				return;
			}
			s2i = i;
			s2j = j;
			s2v = img2D[i][j];
		}
	
		setDsp2D();
		render();
	
		nextStep();
		console.log("step", step);
	
		if(step == 2){
			setTimeout(gostep3, 1000);
			
		}
	}
	
	function gostep3(){
		if(s1v == s2v){
			cvr2D[s1i][s1j] = 1;
			cvr2D[s2i][s2j] = 1;
			// let txt = $("#mydisp").html();
			// console.log(txt);
			// let numTxt = parseInt(txt);
			// $("#mydisp").html(numTxt-2);
			// let txt = document.querySelector("#mydisp");
			// let numTxt = parseInt(txt.innerHTML);
			// txt.innerHTML = numTxt-2;
		}
		setDsp2D();
		render();
	
		let cnt_final = 0;
		for(let i=0; i<img2D.length; i++){
			for(let j=0; j< img2D[i].length; j++){
				if(cvr2D[i][j]==1){
					cnt_final++;
				}
			}
		}

		let obj_disp = document.querySelector("#mydisp");
		obj_disp.innerHTML = 16 - cnt_final;

		let obj_user = document.querySelector("#user");
		sendMessage("score:"+obj_user.value+":"+(16 - cnt_final));
		sendMessage("display:"+obj_user.value+":"+(cvr2D + ""));
		sendMessage("win:"+obj_user.value+":"+(16 - cnt_final));

		// if(cnt_final == 16){
		// 	alert("게임 승리");
		// 	flag_ing = false;
		// }
	
		s1i = -1;
		s1j = -1;
		s1v = -1;
		s2i = -1;
		s2j = -1;
		s2v = -1;
		
		nextStep();
		console.log("ㅎㅇ");
		console.log(cvr2D);
	}
	
	function nextStep(){
		if(step == 0){
			step = 1;
		}else if(step == 1){
			step = 2;
		}else if(step == 2){
			step = 0;
		}
	}
	
	function patchIjEvent(){
		for(let i=0; i<img2D.length; i++){
			for(let j=0; j< img2D[i].length; j++){
				let img = document.querySelectorAll("img");
				img[i*4+j].alt = i + "," + j;
				// img[i*4+j].addEventListener("click",myClick);
				img[i*4+j].addEventListener("click",function(event){
					myClick(event);
				});
				// console.log(img);
				// $("img").eq(i*4+j).attr("alt", i + ","+ j);
			}
		}
		// let a = $("img").eq(0).attr("alt", "0,0");
		// $("img").on("click", function(event) {myClick(event);});
	}
	
	// 섞는 법 2번
	function shuffle(){
		for(let i=0; i<100; i++){
			let rndi = parseInt(Math.random()*4);
			let rndj = parseInt(Math.random()*4);
			let a = img2D[rndi][rndj];
			let b = img2D[0][0];
			img2D[0][0] = a;
			img2D[rndi][rndj] = b;
		}
		console.log(img2D);
	}
	
	function render(){
	// 	let cnt = 0;
		let img = document.querySelectorAll("img");
		for(let i=0; i<img2D.length; i++){
			for(let j=0; j<img2D[i].length; j++){
				// $("img").eq(i*4+j).attr("src","static/img/"+dsp2D[i][j]+".png");
				img[i*4+j].src = "static/img/"+dsp2D[i][j]+".png";
			}
		}
	}

	
	// 연결 부분
    var client_id = Date.now()
    var ws = new WebSocket(`ws://192.168.142.9:8000/ws/${client_id}`);
    ws.onmessage = function(event) {
    	let txt = event.data;
		console.log("onmessage",txt);
		
		let arr_txt = txt.split(":");
		if(arr_txt[0] == "ready"){
			reiv_ready(arr_txt[1]);
		}else if(arr_txt[0] == "start"){
			reiv_start();
		}else if(arr_txt[0] == "score"){
			reiv_score(arr_txt[1], arr_txt[2]);
		}else if(arr_txt[0] == "display"){
			reiv_display(arr_txt[1], arr_txt[2]);
		}else if(arr_txt[0] == "win"){
			reiv_win(arr_txt[1], arr_txt[2]);
		}
    };

	function reiv_win(user, score){
		console.log("score",score);
		if(score == 0){
			alert(user + " 님이 승리하셨습니다.");
			flag_ing = false;	
		}
	}

	function reiv_display(user, info){
		let idx = indexUser(user);
		let arr = info.split(",");
		console.log(arr);

		var c = document.querySelectorAll('.can')[idx];
        var ctx = c.getContext('2d');
        // ctx.fillStyle = 'blue'; 
        // ctx.fillRect(0,0,9,9);
        // ctx.fillStyle = 'black'; 
        // ctx.fillRect(0,10,9,9);
        for(let i=0; i<4; i++){
            for(let j=0; j<4; j++){
                if(arr[i*4+j] == "0"){
                    ctx.fillStyle = "black";
                }else{
                    ctx.fillStyle = "yellow";
                }
                ctx.fillRect(j*80, i*40, 65, 35);
            }
        }
	}

	function reiv_score(user, score) {
		console.log("score",score);
		let idx = indexUser(user);
		let obj_scores = document.querySelectorAll(".score");
		obj_scores[idx].innerHTML = score;
	}

	function reiv_start(){
		flag_ing = true;
	}

	let users = [];
	function reiv_ready(user){
		let obj_users = document.querySelectorAll(".user");
		
		let idx = indexUser(user);
		if(idx == -1){
			users.push(user);
		}
		for(let i=0; i<users.length; i++){
			obj_users[i].innerHTML = users[i];
		}
	}

	function indexUser(user){
		let idx = -1;
		for(let i=0; i<users.length; i++){
			if(user == users[i]){
				return i;
			}
		}
		return idx;
	}

    function sendMessage(txt) {
		console.log("sendMessage", txt);
        ws.send(txt);
    }
    
	function send_ready(){
		let obj_user = document.querySelector("#user");
		let user = obj_user.value;

		sendMessage("ready:"+user);
	}
	function send_start(){
		sendMessage("start:")
	}
	
</script>
</head>
<body onload="myInit()">
<table border="1px">
	<tr>
		<td>
			<table>
				<tr>
					<td>남은 개수</td>
					<td>
						<div id="mydisp">16</div>
					</td>
					<td>
						<input type="text" id="user"/>
					</td>
					<td>
						<input type="button" value="ready" id="ready" onclick="send_ready()"/>
					</td>
					<td>
						<input type="button" value="start" id="start" onclick="send_start()"/>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
				</tr>
				<tr>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
				</tr>
				<tr>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
				</tr>
				<tr>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
					<td><img src="static/img/0.png"></td>
				</tr>
			</table>
		</td>
		<td>
			<table border="1px">
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
				</tr>
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
				</tr>
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
				</tr>
				<tr>
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
					<td><span class="user">_</span> <span class="score">_</span></td>					
				</tr>
				<tr>
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
					<td><canvas class="can"></canvas></td>					
				</tr>
			</table>
		</td>
	</tr>
</table>

</body>
</html>